
img{
	display: block; margin: 0px auto;
}

.cnts_title{height:89px;border-bottom:1px solid #e3e3e3;text-align: center;font-weight: normal;}

body{
    background-color: white;
    margin:0;
    padding:0;
    font-size:0.75em;
}

#wrap{
    width:971px; /* �� �� ������ ũ�⿡ �°� ������ ���� */
    text-align:left;
    margin:0;
    margin-right:auto;
    margin-left:auto;
    background-color:#B96DB5;
    background-repeat:repeat-y;    
    min-height:780px;
}

.clear{clear:both;}

#logo{
    float:left;
    width:180px;
    height:100px;
    margin:40px 0 0 40px;
}

nav#catagory_menu{
	float:right;
    margin:20px 64px 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

table#cartList {
    border-collapse:collapse;    /* border ������ ���� ���� */
    border-top: 2px solid  #333;    
    border-bottom: 1px solid  #333; 
    width:100%;                  /* ��ü ���̺� ���� ���� */
    margin-bottom: 20px;
}

table#cartList th, td{	
    border-bottom: 1px dotted  #333; 
	text-align: center;
}

nav#catagory_menu ul{
    list-style:none; 
}

nav#catagory_menu ul li{
	display:block; 
    height:30px;
    float:left;
    font-family: ����;
}

nav#catagory_menu a{
    text-decoration:none;
    display:inline-block;
    width: 80px;
    text-align: center;
    color: #CCC;
    font-weight: bold;
}

nav#catagory_menu a:hover{
    color: #F90;
    font-weight: bold;
}

nav#top_menu{
    margin: 20px 0;
    float:right;
}

nav#top_menu ul{
    list-style:none;
    font-family:Verdana;
}
nav#top_menu ul li{
   float:left;
   margin:0 15px;  
   font-size: 14pt; 
}

nav#top_menu a{
	display:block; 
    height:20px;
    text-decoration:none;
    color:#fff;
    padding: 10px;
}

nav#top_menu a:hover{
    background-image:url(../images/purple.gif);
    background-repeat:repeat-x;
    background-position:bottom;
}

article h1, div h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 45px;
	color: #CCC;
	margin: 20px 0;
	font-weight: normal;
}

article h2, div h2{
	font-family: "Times New Roman", Times, serif;
	font-size: 30px; 
	color: #CCC;
	padding-bottom: 15px;
	border-bottom: 1px dotted #666; /* ���� �ϴ� �ο� ������ �־� �����̶�� ���� ǥ���� �ݴϴ�. */	
}


#bestProduct{
    border:solid 1px #FFFFFF;
    border-radius:10px;
    width:910px;
    min-height:260px;
    background:#ebebeb;
    padding:10px;
    text-align: center;    
}

#kindProduct{
    border:solid 1px #FFFFFF;
    border-radius:10px;
    width:610px;   
    min-height:900px; 
    background:#ebebeb;
    padding:10px;
    text-align: center;
}

#item{
    width:200px;
    float:left; margin: 0 13px;
    text-align: center;
}

#item img{
	width: 190px; 
	height : 200px; 
}

#itemdetail  img{
	width: 190px; 
	height : 200px; 
	margin-right: 20px;
}

a{
    color:#F00;
    text-decoration:none;
}
a:hover{
    color:#F90;
    text-decoration:underline;
}

#pname {
	font-size: 20px; 
	border-bottom: 1px dotted #666; 
	padding: 5px 0; 
}

footer {
	margin:10px 0 0 0;
	height:50px;
	background-image: url(../images/under_logo.gif);
	background-repeat: no-repeat;
	background-position: 40px center;	
}

footer #copy {
	margin: 20px 0 10px 300px;
	width:600px;	
	float:left;	
}

#main_img{
	text-align: center;
} 
#main_img img{
    margin:9px 0 0 0; 
}

div#front{
    margin:5px 0 5px 20px;
}

#sub_img {
	text-align: center;
}

#sub_img img {
	margin: 9px 0 0 0;
}

#sub_menu {
	width: 250x;
	float: left;
	margin: 20px 0;
}

#sub_menu ul {
	margin: 20px 0 0 16px;
	list-style: none;
}

#sub_menu a {
	text-decoration: none;
	color: white; font-family: Arial, Helvetica, sans-serif;
	font-weight:bold; font-size:16px;
	display: block;
	height: 15px;
	width: 160px;
	padding: 7px;
	border-bottom: 1px dotted #999;
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#sub_menu a:hover {
	background-image: url(../images/bullet_orange.gif);
	background-repeat: no-repeat; 
	background-position: right center;
	color: #F90;font-weight:bold; font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
}

article {
	float: right;
	width: 680px;
	padding-right: 370px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	line-height: 2.5em; 
}

article p {
	padding-left: 10px;
}

article table#notice {
	width: 670px;
	border-collapse: collapse;
	border-top: 1px solid #999;
}

article table#notice th {
	height: 20px;
	width: 70px;
	font-size: 14px; 
	font-weight: bold;
	padding: 5px; 
	color: #FFF;
	border-bottom: 1px dotted #999;
}

article table#notice td {
	text-align: left;
	padding: 6px 0;
	border-bottom: 1px dotted #999;
}

article table#notice tr:hover {
	background-color: #DDF;
	cursor: pointer;
	color: red;
}

form {
	margin: 10px 0 0 0;
	width: 670px;
}

form fieldset {
	padding: 10px 0 20px 5px;
	border: none;
}

form fieldset legend {
	font-size: 20px; /* �������� ���Ǳ� ������ ũ�⸦ ũ�� ��� �ݴϴ�. */
	border-bottom: 1px dotted #666; /* ���� �ϴ� �ο� ������ �־� �����̶�� ���� ǥ���� �ݴϴ�. */
	width: 600px; /* ��ü ũ�⸦ ��� �ݴϴ�. */
	padding: 5px 0; /* ���� �Ʒ��� ������ �ְ� �¿�δ� ������ ���ֹ����ϴ�. 
                                      ������ �� �ְ� �Ǹ� ���ٰ� �ʹ� �پ���� ���⿡ ���� �ʽ��ϴ�. */
}

form label {
	width: 140px; /* ��ü�� ũ�⸦ �����մϴ�. */
	float: left; /* �������� �̵���ŵ�ϴ�. */
	margin: 5px 0; /* ������ �̿��ؼ� ���Ϸ� ������ �ݴϴ�. */
}

form input {
	margin: 5px 0; /* label�� ���������� ���⵵ �����ϰ� ���Ϸ� ������ �ݴϴ�. */
	border: 1px solid #999; /* input �ڽ��� �׵θ� ����� ������ �ݴϴ�. */
	background-color: #FCFDEA; /* ������ �̿��Ͽ� ����ȭ�� ���� ������ �ݴϴ�. */
}

form input.id {
	width: 100px;
	height: 18px;
}

form input.dup {
	width: 90px; /* ��ư�� ���� ũ�⸦ ���մϴ�. */
	height: 23px; /* ��ư�� ���� ũ�⸦ ���մϴ�. */
	border-radius: 8px; /* border-radius ���� �ձ׷� ��ư���� ����ϴ�. */
	border: none; /* ��� �̹����� ��ӱ� ������ ���⼭ border�� ���ֹ����ڽ��ϴ�. */
	margin: 0 0 0 5px; /* ������ ���ʸ� �༭ input���� ������ �����ϴ�. */
	font-weight: bold; /* �۲� �β��� �β��� */
	color: #FFF; /* �۲��� ������ ������� */
	background-image: url(../images/dup.jpg);
	/* ��׶��� �̹����� ����մϴ�. */
	background-repeat: repeat-x; /* ��׶��� �̹����� x������ �ݺ� */
	background-position: center center; /* ��׶��� �̹����� ��ġ�� �߾����� ��ġ */
}

form #buttons {
	margin: 20px 0 0 0;
	color : black;
}

form  .submit,form  .cancel {
	height: 30px; /* ��ư�� ���� ũ�⸦ �����մϴ�. */
	width: 150px; /* ��ư�� ���� ũ�⸦ �����մϴ�. */
	border: 1px solid #666; /* ��ư�� �׵θ��� �����մϴ�. */
	border-radius: 10px; /* border-radius�� ���� ��ư�� �ձ׷��� ����ϴ�. */
	box-shadow: 3px 3px 2px #ccc; /* box-shadow�� �̿��ؼ� �׸��ڸ� ����ϴ�. */
	font-size: 14px; /* �۲� ����� �����մϴ�. */
	background-repeat: repeat-x;
	background-position: center center;
	color: black;
	margin: 0 0 0 20px;
}

form  .submit {
	background-image: url(../images/submit_back.jpg);
}

form  .cancel {
	background-image: url(../images/cancel_back.jpg);	
}

/* 

body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td {
    margin: 0;
    padding: 0;
    vertical-align: top;
    line-height: 20px;
    word-break: break-all;
}

div {
    display: block;
}



.sub_container {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    width: 995px;
    *zoom: 1;
}
.lnb_wrap h4 a {
    display: block;
    padding: 23px 0 23px 17px;
    background-color: #222222;
    font-size: 16px;
    color: #fff;
}
a:link, a:active, a:visited, a {
    text-decoration: none;
}
a {
    color: #444;
    outline: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.lnb_wrap .lnb {
    padding: 20px 10px;
    border: 1px solid #e3e3e3;
    border-top: 0;
    
}

.ph_guide {
    margin-top: 10px;
    padding: 15px 12px 10px 12px;
    background: #f5f5f5;
    text-align: center;
}
user agent stylesheet
div {
    display: block;
}
body {
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow-y: visible !important;
    font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
    color: #555;
    font-size: 12px;
}

.lnb_wrap {
    float: left;
    width: 141px;
   margin: 92px 35px 15px -885px;
}

.cnts_title {
    height: 89px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    font-weight: normal;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.profile_info1.review_betterment1905 {
    padding: 25px 30px;
}
.profile_info1 {
    margin-bottom: 55px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 25px 0;
}
.clearfix {
    *zoom: 1;
}



.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    clear: both;
}
 */



