@charset "UTF-8";
.page_detail_product .section_product_summary {
    min-width: 960px;
    padding-top: 25px;
}

.page_detail_product .right_contents {
    padding: 30px 20px 30px;
}

.right_contents {
    clear: both;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.product_left {
    float: left;
    width: 520px;
    margin-right: 24px;
    margin-left: 150px;
    margin-top: 50px;
}

a, blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, input, li, ol, p, pre, select, small, span, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.product_img_basic {
    position: relative;
    height: 400px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.product_img_basic .product-img {
    overflow: hidden;
    position: relative;
    width: 502px;
    height: 602px;
    margin: 10px 0;
    padding: 0 8px;
    text-align: center;
}

.product_img_basic .product-img img {
    width: auto;
    max-width: 100%;
    height: 350px;
    vertical-align: middle;
}



.product_right {
    float: left;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 50px;
    margin-left: 80px;
}

.product_order_info .explan_product.product_info_section {
    padding-bottom: 5px;
}

.product_order_info .explan_product {
    margin-bottom: 9px;
}
.explan_product {
    width: 400px;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    border-bottom: 1px solid #ddd;
}

.product_order_info .explan_product.price_info_section {
    padding-bottom: 6px;
}

.explan_product {
    width: 400px;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    border-bottom: 1px solid #ddd;
}

.section_product_summary .title-box {
    height: auto;
    line-height: 27px;
    color: #000;
}

.title-box.font-mss, .section .section_title.font-mss {
    font-size: 18px;
}

.title-page, .txt_selected_division, .font-mss {
    font-family: "Musinsa", sans-serif !important;
}

.product_article {
    padding-top: 9px;
}

ol, ul {
    list-style: none;
}

.explan_product .product_article li {
    padding-bottom: 7px;
}

.explan_product .product_article li {
    padding-bottom: 7px;
}

.product_article_tit {
    display: inline-block;
    width: 110px;
}

.box_info_products .product_article_contents {
    position: relative;
}

.product_article_contents {
    display: inline-block;
    width: 282px;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    font-weight: bold;
}

.product_article_price {
    font: 500 17px/21px "Musinsa", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#product_order_info .benefitLayer_section {
    margin-top: -9px;
    border-bottom: none;
}

.box-btn-buy {
    width: 400px;
    margin-top: 20px;
    clear: both;
}
.box-btn-sell {
    width: 400px;
    margin-top: 20px;
    clear: both;
}

.product_right {
    float: left;
    font-size: 12px;
    line-height: 1.5;
}

.box-btn-buy .btn_buy {
    float: left;
    position: relative;
    margin-right: 10px;
}

.box-btn-buy .btn_sell {
    float: left;
    position: relative;
}

.wrap-btn-buy .btn_grey {
    width: 270px;
    padding-top: 2px;
    background: #eee;
    color: #aaa;
}

.box-btn-buy .btn_grey {
    width: 140px;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    color: #ccc;
    font-size: 20px;
    background-color: #f1f1f1;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    font-weight: bold;
    border: none;
    height: 60px;
}

.btn_grey {
    float: left;
    width: 156px;
    line-height: 56px;
    text-align: center;
    font-family: "Musinsa";
    font-size: 16px;
    background: #f3f3f3;
    border: 1px solid #ddd;
    color: #999;
}

.box-btn-buy .btn_cart {
    float: left;
    margin-left: 10px;
    
}

div {
    display: block;
}
.wrap-btn-buy .btn_mylike a, .wrap-btn-buy .btn_cart a {
    padding: 15px 0;
    background: transparent;
    text-align: center;
    text-indent: 0;
}

.box-btn-buy .btn_cart a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    background-image: url(https://image.msscdn.net/skin/musinsa/images/icon_cart.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    text-indent: -99999px;
}

a {
    color: inherit;
    text-decoration: none;
}



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 70%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fff;
  padding-top: 50px;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #ccc;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
