@charset "UTF-8";
element.style {
}
.section.with-bg {
    background: #f5f5f5;
}

.section.main_global, .section.main_brand, .section.main_noti {
    padding-top: 50px;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}

.section {
    margin: 20px 10px;
    padding: 0 0 50px;
}

.box-overspill {
    width: 100% !important;
    margin: 0 auto !important;
    max-width: 1920px !important;
    overflow: hidden;
}

/* 맨 위 문자 스타일 */
.main_global h2 span{
	font-weight: normal;
	margin: 50px;
	letter-spacing: -.025em;
	line-height: 0.5;
}
	

h2 .eng1{
	font-family: 'Jost', sans-serif;
	font-size: 20pt;
	color: #6666;
	text-trasform: uppercase;
}

h2 .eng2{
	font-family: 'Jost', sans-serif;
	font-size: 40pt;
	text-trasform: uppercase;
}

h2 .eng3{
	font-family: Impact;
}

a, p, span, label, input{
	white-space: normal;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, textarea, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

* {
    outline: 0 !important;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}
/* 사진 배치 스타일 */
.main_global .col-md {
    padding: 55px 1px 70px 0;
    width: 33.33333%;
}

.col-md {
    float: left;
    position: relative;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, textarea, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

* {
    outline: 0 !important;
}

div {
    display: block;
}

dt, dd {
    line-height: 1;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}

body {
    -webkit-text-size-adjust: none;
}
/* 사진 밑에 텍스트 스타일   */


.main_global p.name{
	
	font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    padding-bottom: 30px;
}

.main_global p.display-s{
	
	font-family: 'Jost', sans-serif;
    font-size: 64px;
    font-weight: 2000;
    color: #9f7952;
    padding-bottom: 30px;
}


a, p, span, label, input {
    white-space: normal;
}

.main_global .name::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #999999;
    position: relative;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

:before, :after {
    box-sizing: border-box;
}

/*뉴스 공간 css*/
.main_noti h2 span {
    font-size: 60px;
    font-weight: normal;
    color: #222222;
    letter-spacing: -.025em;
    line-height: 1.0;
}
h2 .eng, .h2 .eng {
    font-size: 64px;
    font-family: 'Jost',sans-serif;
    font-weight: normal;
    color: #222222;
    text-transform: uppercase;
}
a, p, span, label, input {
    white-space: normal;
}

.main_noti h2:first-child span {
    font-size: 26px;
    font-weight: 300;
    color: #888888;
    line-height: 2.0;
}
.main_noti {
    position: relative;
    padding-top: 85px !important;
}

.main_global, .main_brand, .main_noti {
    text-align: center;
}

.section {
   /*  margin: 20px 10px; */
    padding: 0 0 50px;
}

.box-overspill {
    width: 100% !important;
    margin: 0 auto !important;
    max-width: 1920px !important;
    overflow: hidden;
}

.main_noti::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 454px;
    background-color: #f4ece4;
    z-index: -1;
    content: '';
}

.box::before, .box-overspill::before, .box::after, .box-overspill::after {
    clear: both;
}

.section {
    padding: 0 0 50px;
}

.box {
    margin: 0 auto !important;
}

h2, .h2 {
    font-size: 60px;
    font-weight: 300;
    color: #222222;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.main_noti .col-md {
    width: 33.33333%;
    text-align: left;
}

.col-md {
    float: left;
    position: relative;
}

.main_noti .col-md dl {
    margin: 40px 26px;
    margin-left: 0;
}

.main_noti dl dt {
    padding: 10px 0;
}

dt, dd {
    line-height: 1;
}

.main_noti dl dd {
    padding: 20px 0;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
    /* max-width: 430px; */
    height: 85px;
    min-height: 85px;
    max-height: 85px;
    line-height: 1.2;
    word-break: keep-all;
    white-space: normal;
}

.main_noti dl dd:last-child {
    padding-top: 0px;
    text-align: left;
    font-weight: 200;
    font-size: 16px;
    color: #888888;
    height: 10px;
    min-height: 45px;
    max-height: 45px;
}

.main_noti dd:last-child::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    position: relative;
    top: auto;
    bottom: -22px;
    left: 0;
    right: 0;
}