
h1{
	text-align : center;
	font-size : 5em;
	font-weight : 700;
	padding-left : auto;
	padding-right : auto;	
	font-family: "Gill Sans", sans-serif;
	color: black;
	transition: color 2s ease-out 100ms;
}
h1:hover{
	
	color:MediumSeaGreen;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color:#e7e7e7;
}
